body{
   background-image: url(./background/bgbody.jpg.jpeg);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.fork img{
    position: absolute;
    top: 1px;
    left: 1380px;
    max-width: 200px;
}

.container .nav-list a{
    text-decoration: none;
    gap: 8px;
    font-size: 18px;
    padding: 10px;
    font-family: Copperplate, Papyrus, fantasy;
    color: black;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    margin-left: 150px;
}

.range1 .ran img {
    width: 1400px;
    height: 330px ;
    margin-left: 80px;
    justify-content: center;
    border-radius: 50px;
}

.range1 .ran h1 {
    position: absolute;
    column-gap: unset;
    font-size: 50px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
    left: 560px;
    top: 230px;
    text-decoration: 4px underline yellow;
}

.range1 .ran p {
    position: absolute;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: white;
    left: 150px;
    top: 350px;
    font-weight: 200;
    justify-content: center;
    text-align: center;
}

.range1 .ran .tet {
    position: absolute;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: white;
    left: 350px;
    top: 400px;
    font-weight: 200;
    justify-content: center;
    text-align: center;
}

.range2 {
    margin-top: 200px;
}
.range2 .ted img {
    width: 1400px;
    height: 550px ;
    margin-left: 80px;
    justify-content: center;
    border-radius: 0px 0px 30px 30px;
}

.range2 .ted .ti a {
    position: absolute;
    text-decoration: none;;
    border: 20px solid #ffe237;
    border-radius: 30px 30px 0px 0px;
    background-color: #ffe237;
    gap: 8px;
    font-size: 20px;
    left: 80px;
    top: 634px;
    padding: 10px;
    font-family: Copperplate, Papyrus, fantasy;
    color: black;
}

.range2 .ted .ri a {
    position: absolute;
    text-decoration: none;
    border: 20px solid #fff;
    border-radius: 30px 30px 0px 0px;
    background-color: #fff;
    gap: 8px;
    font-size: 20px;
    left: 271px;
    top: 632px;
    padding: 10px;
    font-family: Copperplate, Papyrus, fantasy;
    color: black;
}

.range2 .ted .wi a {
    position: absolute;
    text-decoration: none;
    border: 20px solid #fff;
    border-radius: 30px 30px 0px 0px;
    background-color: #fff;
    gap: 8px;
    font-size: 20px;
    left: 490px;
    top: 632px;
    padding: 10px;
    font-family: Copperplate, Papyrus, fantasy;
    color: black;
}

.range2 .ted .qi a {
    position: absolute;
    text-decoration: none;
    border: 20px solid #fff;
    border-radius: 30px 30px 0px 0px;
    background-color: #fff;
    gap: 8px;
    font-size: 20px;
    left: 660px;
    top: 632px;
    padding: 10px;
    font-family: Copperplate, Papyrus, fantasy;
    color: black;
}

.range2 .ted .yi a {
    position: absolute;
    text-decoration: none;
    border: 20px solid #fff;
    border-radius: 30px 30px 0px 0px;
    background-color: #fff;
    gap: 8px;
    font-size: 20px;
    left: 830px;
    top: 632px;
    padding: 10px;
    font-family: Copperplate, Papyrus, fantasy;
    color: black;
}

.range2 .ted .ui a {
    position: absolute;
    text-decoration: none;
    border: 20px solid #fff;
    border-radius: 30px 30px 0px 0px;
    background-color: #fff;
    gap: 8px;
    font-size: 20px;
    left: 975px;
    top: 632px;
    padding: 10px;
    font-family: Copperplate, Papyrus, fantasy;
    color: black;
}

.range2 .ted .whi {
    position: absolute;
    left: 80px;
    top: 770px;
    width: 550px;
    height: auto;
}

.range2 .ted .ind {
    position: absolute;
    margin-left: 200px;
    top: 820px;
    width: 450px;
    height: auto;
}

.range2 .ted h2 {
    margin: 0;
    margin-bottom: .5em;
    color: #e31e24;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    margin-left: 800px;
    margin-top: -300px;
}

.range2 .ted h5 {
    display: block;
    font-size: 1.3em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    margin-left: 800px;
}

.range2 .ted p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin-left: 800px;
}

.footer {
    color: white;
    position: absolute;
    top: 1300px;
    text-align: left;
    width: 100%;
    height: 550px;
    background-color: black;
}

.footer .test {
    position: absolute;
    left: 400px;
}

.footer .test h2 {
    top: 50px;
    font-size: 45px;
    font-family: 'bebas neue', cursive;
    font-weight: lighter;
    color: #c67f54;
}

.footer .test h3 {
    font-size: 20px;
    font-family: 'bebas neue', cursive;
    font-weight: 400;
    color: #9c4d31;
    line-height: 1.5;
}

.footer .test p {
    font-size: 20px;
    font-family: 'bebas neue', cursive;
    margin: 0px 0px 15px;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.5;
}

.footer .social h3 {
    position: absolute;
    display: flex;
    left: 1280px;
    margin-top: 70px;
    color: #9c4d31;
    font-size: 30px;
}

.footer 

.footer .cont a {
    position: relative;
    left: 900px;
    color: #9c4d31;
    top: 250px;
    font-size: 30px;
}

.footer .cont a:hover {
    text-decoration: none;
}

.footer .cont a span {
    font-size: 20px;
    font-family: 'bebas neue', cursive;
    color: #9c4d31;
    text-decoration: none;
}

.footer .social .hom {
    position: relative;
    left: 1300px;
    top: 120px;
    padding: 5px;
    font-size: larger;
    color: #9c4d31;
}